%section
  .row
    .columns.small-6
      .panel-block
        %header
          Рейтинг тем
        .content
          %form.theme-search-form
            %i.icon.icon-search
            %input.search.radius{type: "text", placeholder: "Поиск"}
          %ul.themes-rating-list.no-bullet
            %li
              %a{href: "#"}
                Выборы...
                %span.round.alert.label.right
                  2 436
            %li
              %a{href: "#"}
                Путин...
                %span.round.alert.label.right
                  1 570
            %li
              %a.active{href: "#"}
                День города...
                %span.round.alert.label.right
                  1 126
            %li
              %a{href: "#"}
                Камеры на дорогах...
                %span.round.alert.label.right
                  436
            %li
              %a{href: "#"}
                Минниханов...
                %span.round.alert.label.right
                  334
            %li
              %a{href: "#"}
                Новое назначение Минземимущество...
                %span.round.alert.label.right
                  286
            %li
              %a{href: "#"}
                Van Burren приезжает...
                %span.round.alert.label.right
                  213
            %li
              %a{href: "#"}
                Футбол...
                %span.round.alert.label.right
                  198
            %li
              %a{href: "#"}
                Форсайт слот...
                %span.round.alert.label.right
                  65
            %li
              %a.more-link.text-center{href: "#"}><
                Показать больше
                %i.icon.icon-arrow-bottom-gray
      .row
        .columns.small-6
          .panel-block
            %header
              Календарь
        .columns.small-6
          .panel-block.map-block
            %header
              Карта
            .content
              = image_tag "maps.png"
    .columns.small-6
      .panel-block
        %header
          Лента новостей, сообщений и твитов
        .content
          %ul.no-bullet.inline-list.soc-links-list
            %li
              %a.rs{href: "#"}
            %li
              %a.fb{href: "#"}
            %li
              %a.active.tw{href: "#"}
            %li
              %a.vk{href: "#"}
            %li
              %a.ok{href: "#"}
            %li
              %a.yt{href: "#"}
            %li
              %a.lj{href: "#"}
            %li
              %a.ma{href: "#"}
          %ul.no-bullet.soc-posts-list
            %li.item
              .date
                6 сентября
              .post
                Мы продолжаем следить за подсчетом результатов. Включайте: http://tvrain.ru/live/
            %li.item
              .date
                6 сентября
              .post
                Родное правительство заботится о гражданах и старается предоставить им возможность как можно меньше лично встречаться с собственными представителями...

            %li.item
              .date
                6 сентября
              .post
                Сегодня обнаружил на просторах интернета Windows 8.1 RTM (финальная версия), и решил обновится, но не тут-то было. У меня была установлена Windows 8.1..

            %li.item
              .date
                6 сентября
              .post
                Однажды он пришел в парикмахерскую, чтобы его, как обычно, подстригли и побрили. Разговорился с парикмахером, который его обслуживал. Говорили о разном, и вдруг, разговор зашел о Боге. 

            %li.item
              .date
                6 сентября
              .post
                Слушайте, недавно осознал совершенно непереносимый факт – люди, родившиеся в 90–х, уже после развала СССР – умеют говорить, читать, писать...

            %li.item
              .date
                6 сентября
              .post
                Собянин все-таки пришел на митинг, к организации которого не имеет никакого отношения, и выразил уверенность в своей победе на выборах мэра