%section
  .row
    .columns.small-6
      .panel-block
        %header
          Рейтинг тем
      .row
        .columns.small-6
          .panel-block
            %header
              Календарь
        .columns.small-6
          .panel-block
            %header
              Карта
    .columns.small-6
      .panel-block
        %header
          Лента новостей, сообщений и твитов